body,html{
    min-width: 50%;
    height: 100%;
    margin: 10px;

}
form{
    width: 100%;
    height: 100%;
}
input{
    width: 40%;
}
button:hover{
    color: yellow;
    inset: 2px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4); /* Darker inset shadow on hover */

}
form button{
    width: 40%;
    background-color: green;
    color: aliceblue;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Initial inset shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition */
}
ul{
    list-style: none;
    text-align: center;

}
li{
    background-color: aliceblue;
    text-align: center;
    border-bottom: 1px solid;
}
#table-container{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: aliceblue;

}
table{
    border: 5px solid ;
    min-height: 15%;
    max-height: 60%;
    width: 100%;
}
h2{
    color: red;
    font-weight: bold;
}
.item{
    padding: 50px;
    flex: 1; /* This makes all items grow equally to fill the container */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
th{
    font-size: auto;
    background-color: greenyellow;
    border: 1px solid ;

}
td {
    font-size: auto;
    background-color: tan;
    border: 1px solid ;

}